body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav {
  background-color: #333;
  color: #fff;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e5533d;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
}